<article>
    <header>
        {% if link %}
            <h2><a href="{{ path('training_article_afficher', { id: article.id }) }}" title="Lire la suite de \"{{ article.titre }}\"">
                    {{ article.titre }}
            </a></h2>
        {% else %}
            <h2>{{ article.titre }}</h2>
        {% endif %}
        <time>{{ article.date| date('d M Y') }}</time>
    </header>
    <div class="content">
        <img src="{{ article.url }}" class="img-rounded" alt="{{ article.titre }}">
        <blockquote>
        <p>
            {{ article.description|nl2br }}
        </p>
        </blockquote>
    </div>
</article>
