{% extends "::base.html.twig" %}

{% block body %}
<h1>Tout les articles</h1>

<div class="container">
    {% for article in articles %}
    <article>
        <header>
            <h2>{{ article.titre }}</h2>
            <time>{{ article.date| date('d M Y') }}</time>
        </header>
        <div class="content">
            <img src="{{ article.url }}" class="img-rounded" alt="{{ article.titre }}">
            <blockquote>
            <p>
                {{ article.description }}
            </p>
            </blockquote>
        </div>
    </article>
    {% endfor %}
</div>

{% endblock %}